<mat-accordion>
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Producto
    </mat-panel-title>
  </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <app-product ></app-product>
    </div>
</mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cuotas de productos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <app-product-price></app-product-price>
    </div>
  </mat-expansion-panel>
</mat-accordion>
